.App {
  text-align: center;
  color: #1a1c20;
  width: 100%;
  height: 100%;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #eeeff1;
  color: #1a1b1f;
  width: 100%;
  height: 100%;
}

.dark-mode {
  background-color: #242b3a;
  color: #eeeff1;
}

.nav {
  padding-right: 0rem;
  position: absolute;
  margin: 1.8rem 3rem 1.8rem 1rem;
  right: 0;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #242b3a;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #ebebeb;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #ebebeb;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
  background-color: #242b3a;
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.icon {
  display: flex;
  justify-content: flex-end;
  color: #84c0f0;
  width: 90%;
  padding: 8px 0px 0px 0px;
}

@media (min-width: 200px) and (max-width: 480px) {
  .switch {
    width: 60px;
    height: 30px;
  }

  .slider:before {
    height: 22px;
    width: 22px;
  }

  .nav {
    margin: 1.6rem 3rem 1.4rem 1rem;
  }

  .icon {
    width: 85%;
    padding: 6px 0px 0px 0px;
  }
}
